/* Main content area */
.content{
  height: 100vh;
  background-size: contain;
  background-position:right;
  background-repeat: no-repeat;
padding: 20px 10px;

}
.home{
  background-image: url('./images/profile.svg');
  }
.education{
  background-image: url('./images/undraw_Graduation_ktn0.svg');
}

.skills{
  background-image: url('./images/undraw_percentages_0rur.svg');
}




/* end main content area */



button{
  color: red;
}

.navitems{
  background-color: #3a3535;
  color:grey;
  display: block;
  width:120%;
  font-size: 2rem;
  margin:15px -20px 0 0 ;
}
.navitems:hover{
  background-color: #3a3535;
  color:white;

}

.story{
  font-family: 'Caveat', cursive;
/* handwritting style for story */
}