@root{
  --primary-color:#698474;
  --secondary-color:#015668;
}


.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  position: relative;
  }

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}

.side {
  flex-grow: 1;
  width:80px;
  height: auto;
  background-color:#4285f4;
}
.nav{
  margin-top: 100px;
  height: 80%;
z-index: 2;

}
.main {
  flex-grow: 3;
  width: 60%;
  height: 100%;
  padding :120px;
  box-sizing: border-box;
}

